{% load static %}
<header>
    <nav class="container">
       <div class="logo"><img src="{% static 'Group 2.png' %}" alt="">Payna</div>
        <ul class="nav-items">
            <li class="nav-item"><a href="">Home</a></li>
            <li class="nav-item"><a href="">Features</a></li>
            <li class="nav-item"><a href="">Showcase</a></li>
            <li class="nav-item"><a href="{% url 'createarticle' %}">Create</a></li>
        </ul>
        <div class="nav-buttons">
            <a href="#" class="sign-in"> <button>Sign In</button></a>
            <a href="{% url 'register' %}" class="register"> <button>Register</button></a>
          </div>
    </nav>
</header>
